<div class="p-grid p-fluid" style="width: 99%; padding: 40px;">
    <div class="p-col-12 p-md-12 p-lg-12" style="text-align: center">
        <div [@photo]="photo" class="circular--portrait"> <img src="assets/dev.png" /> </div>
    </div>
    <div [@developer]="developer" class="p-col-12 p-md-12 p-lg-12" style="text-align: center">
        <h3 class="desenvolvedor">{{desenvolvedor}}</h3>
        <h5 class="cargo">{{cargo}}</h5>
    </div>

    <div [@socialmidia]="socialmidia" class="p-col-12 p-md-12 p-lg-12" style="text-align: center">
        <div class="p-d-flex p-jc-between">
            <a href="https://github.com/MarcosRibeiroDev" target="_blank"><img src="assets/social/github-min.png" width="35"></a>
            <a href="https://www.instagram.com/marcosribeiro22/" target="_blank"><img src="assets/social/instagram-min.png" width="35"></a>
            <a href="https://www.linkedin.com/in/marcos-ribeiro-858a73b9/" target="_blank"><img src="assets/social/linkedin-min.png" width="35"></a>
            <a href="https://twitter.com/marcosribeirox" target="_blank"><img src="assets/social/twitter-min.png" width="35"></a>
            <a href="https://api.whatsapp.com/send?phone=5521974143991&text=Ol%C3%A1%20Marcos%20Ribeiro%2C%20quero%20um%20or%C3%A7amento." target="_blank"><img src="assets/social/whatsapp-min.png" width="35"></a>
        </div>
    </div>

    <div [@skills]="skills" class="p-col-12 p-md-3">
        <div class="card widget-overview-box widget-overview-box-2">
            <span class="overview-title">
                LINGUAGEM C#
            </span>
            <br/>
            <div class="p-d-flex p-jc-between">
                <div class="overview-detail p-d-flex p-jc-between">
                   <h5 style="margin-bottom: 0px;margin-top: 20px;">AVANÇADO</h5>
                </div>
            </div>
            <img src="assets/code/csharp-min.png" width="50">
        </div>
    </div>

    <div [@skills]="skills" class="p-col-12 p-md-3">
        <div class="card widget-overview-box widget-overview-box-1">
            <span class="overview-title">
                ANGULAR
            </span>
            <div class="p-d-flex p-jc-between">
                <div class="overview-detail p-d-flex p-jc-between">
                    <h5 style="margin-bottom: 0px;margin-top: 20px;">AVANÇADO</h5>
                 </div>
            </div>
            <img src="assets/code/angular-min.png" width="60">
        </div>
    </div>

    <div [@skills]="skills" class="p-col-12 p-md-3">
        <div class="card widget-overview-box widget-overview-box-3">
            <span class="overview-title">
                XAMARIN FORMS
            </span>
            <div class="overview-detail p-d-flex p-jc-between">
                <h5 style="margin-bottom: 0px;margin-top: 20px;">AVANÇADO</h5>
             </div>
            <img src="assets/code/xamarin-min.png" width="50">
        </div>
    </div>

    <div [@skills]="skills" class="p-col-12 p-md-3">
        <div class="card widget-overview-box widget-overview-box-3">
            <span class="overview-title">
                TYPESCRIPT
            </span>
            <div class="overview-detail p-d-flex p-jc-between">
                <h5 style="margin-bottom: 0px;margin-top: 20px;">INTERMEDIÁRIO</h5>
             </div>
            <img src="assets/code/typescript-min.png" width="50">
        </div>
    </div>

    <div [@skills]="skills" class="p-col-12 p-md-3">
        <div class="card widget-overview-box widget-overview-box-3">
            <span class="overview-title">
                FLUTTER
            </span>
            <div class="overview-detail p-d-flex p-jc-between">
                <h5 style="margin-bottom: 0px;margin-top: 20px;">INICIANTE</h5>
             </div>
            <img src="assets/code/flutter-min.png" width="50">
        </div>
    </div>

    <div [@skills]="skills" class="p-col-12 p-md-3">
        <div class="card widget-overview-box widget-overview-box-3">
            <span class="overview-title">
                DART
            </span>
            <div class="overview-detail p-d-flex p-jc-between">
                <h5 style="margin-bottom: 0px;margin-top: 20px;">INICIANTE</h5>
             </div>
            <img src="assets/code/dart-min.png" width="50">
        </div>
    </div>

    <div [@skills]="skills" class="p-col-12 p-md-3">
        <div class="card widget-overview-box widget-overview-box-3">
            <span class="overview-title">
                HTML
            </span>
            <div class="overview-detail p-d-flex p-jc-between">
                <h5 style="margin-bottom: 0px;margin-top: 20px;">INTERMEDIÁRIO</h5>
             </div>
            <img src="assets/code/html-min.png" width="50">
        </div>
    </div>

    <div [@skills]="skills" class="p-col-12 p-md-3">
        <div class="card widget-overview-box widget-overview-box-3">
            <span class="overview-title">
                CSS
            </span>
            <div class="overview-detail p-d-flex p-jc-between">
                <h5 style="margin-bottom: 0px;margin-top: 20px;">INTERMEDIÁRIO</h5>
             </div>
            <img src="assets/code/css-min.png" width="50">
        </div>
    </div>
</div>